/* Google font import poppins */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@700&family=Poppins:wght@500;700&family=Roboto:wght@700&display=swap");

* {
  font-family: "Bebas Neue", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
:root {
  /* ===========color============ */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* ===========transition================ */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}
body{
  height: 100vh;
  background: var(--body-color);
}
/* =======Resuable CSS================= */
.sidebar .text{
  font-size: 16px;
  font-weight: 500;
}
.sidebar .image{
  min-width: 60px;
  display: flex;
  align-items: center;
}
/* ==============sidebar=============== */
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
}
.sidebar .image-text img{
  width: 40px;
  border-radius: 6px;
}
.sidebar header .image-text{
  display: flex;
  align-items: center;
}